.price {
    padding: 60px 0 120px;
    background-color: #f6f6f6;
}

.price__title {
    margin-bottom: 40px;
}

.price__cards {
    align-items: stretch;
    display: flex;
    column-gap: 30px;
    align-items: flex-start;
    & > * {
        flex: 1;
    }
}
